{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
    {% for resume in resumes %}
        {% if resume.response.all.count > 0 %}
            {% for response in resume.response.all %}

                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ response.resume.job_title }}</h5>

                                    <img src="{{ response.resume.author.avatar.url }}" style="height: 20px; width: 20px" alt="signuplogo ">
                                    <a href="{% url 'profile' response.resume.author.pk %}"><strong> {{response.resume.author.author}} </strong></a>

                                    <div class='commentsection'>
                                        <form class="comment" action="{% url 'resume_add_response' response.resume.pk %}" method="POST">
                                            {% csrf_token %}
                                            {% bootstrap_form comment_form %}
                                            {% bootstrap_button button_type="submit" content='Опубликовать' %}
                                        </form>
                                    </div>

                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% block content %}
{% endblock %}