{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

         <div class="head_text heading text-center">
            <p class="main-title-auth" style="font-size: 30px; font-weight: bold; margin-top: 40px">Вход</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="" method="POST">
                    <div class="form text-center" >
                        {% csrf_token %}
                        {% bootstrap_form form %}
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 text-center">
                            <button type="submit" class="btn btn-secondary btn-block">Войти</button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 text-center">
                            <a href="{% url 'register' %}"><button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Зарегистрироваться</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>



{% endblock %}


