{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}Редактировать данные пользователя{% endblock %}
{% block content %}
<div id="myModal" class="modal" style="display: block; width: 100%; height: 100%; background-color: #bbbbbb; z-index: 1; overflow: auto">
        <div class="modal-content" style="background-color: white; margin: 10% auto; padding: 20px; width: 80%; border: 1px solid#888">
            <h2 style="text-align: center;">Редактирование пользователя</h2><div>
                <form action="{% url 'change' user_obj.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form" id="form-course" style="background-color: white; margin: 10% auto; padding: 40px; width: 80%;">
                    {% bootstrap_form form %}
                    </div>
                    <div class="col-2 text-center">
                        {% bootstrap_button button_type="submit" content='Сохранить' %}
                    </div>
                </form>
                <div class="col-2 text-center">
                    <a href="{% url 'password_change' user_obj.pk %}"><button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Смена пароля</button></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}