{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<br>
<br>
<article class="media">
                  <div class="row justify-content-center ">
                      <div class="col-3">
                          <div class="photo-avatar" style="width: 200px; height: 200px;">

                              <img class="is-rounded" style="display: block; max-width: 100%;" src="{{ user_obj.avatar.url }}">

                          </div>
                       </div>

                      <div class="col-7">
                          <div class="row ">
                              <div class="col-3">
                                  <h1 class="user-header" style="font-weight: normal;">
                                      {{ user_obj.username }}</h1>
                              </div>

                              {% if request.user == user_obj %}
                                  <div class="col-3 ">
                                      <form action="{% url 'change' user_obj.pk %}" method="POST">
                                          {% csrf_token %}
                                          {% bootstrap_button button_type="submit" content='Редактировать профиль' %}
                                      </form>
                                  </div>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="col-2 text-center">
                      <a href="{% url 'resume_create' user_obj.pk %}"><button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Создать резюме</button></a>
                  </div>
                 <hr>

                <div class="row justify-content-between">
                    {% for resume in resumes %}
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ resume.profession }}</h5>
                                    <p class="card-text">{{ resume.job_title }}</p>
                                    <p class="card-text">{{ resume.changed_at }}</p>

                                    <div class="row">
                                        <div class="col-4">
                                            <form action="{% url 'resume_date_update' resume.pk %}" method="POST">
                                                {% csrf_token %}
                                                <div id="container">
                                                    <button type="submit" class="btn btn-primary">Обновить</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-4">
                                            <form action="{% url 'resume_public' resume.pk %}" method="POST">
                                                {% csrf_token %}
                                                <div id="container">
                                                    {% if resume.is_public %}
                                                    <button type="submit" id="public" class="btn btn-primary">Не публиковать</button>
                                                    {% else%}
                                                    <button type="submit" id="publicP" class="btn btn-primary">Опубликовать</button>
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
              </div>



      </div>

  </div>

<script type="text/javascript" src="{% static 'js/user-detail-switch_button.js' %}"></script>

{% endblock %}
