{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<br>
<br>
<article class="media">
                {% if user_obj.user_category == 'employer' %}
                  <div class="row justify-content-center ">
                      <div class="col-3">
                          <div class="photo-avatar" style="width: 200px; height: 200px;">

                              <img class="is-rounded" style="display: block; max-width: 100%;" src="{{ user_obj.avatar.url }}">

                          </div>
                       </div>
                      <div class="col-7">
                          <div class="row ">
                              <div class="col-3">
                                  <h1 class="user-header" style="font-weight: normal;">
                                      {{ user_obj.username }}</h1>
                              </div>
                              {% if request.user == user_obj %}
                                  <div class="col-3 ">
                                      <form action="{% url 'change' user_obj.pk %}" method="POST">
                                          {% csrf_token %}
                                          {% bootstrap_button button_type="submit" content='Редактировать профиль' %}
                                      </form>
                                  </div>

                                  <div class="col-2 text-center">
                                      <a href="{% url 'responses' user_obj.pk %}"><button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Посмотреть отклики на резюме</button></a>
                                  </div>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="col-2 text-center">
                      <a href="{% url 'create_vacancy' user_obj.pk %}"><button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Создать вакансию</button></a>
                  </div>
                 <hr>



                {% elif user_obj.user_category == 'applicant' %}
                <div class="row justify-content-center ">
                      <div class="col-3">
                          <div class="photo-avatar" style="width: 200px; height: 200px;">

                              <img class="is-rounded" style="display: block; max-width: 100%;" src="{{ user_obj.avatar.url }}">

                          </div>
                       </div>
                      <div class="col-7">
                          <div class="row ">
                              <div class="col-3">
                                  <h1 class="user-header" style="font-weight: normal;">
                                      {{ user_obj.username }}</h1>
                              </div>
                              {% if request.user == user_obj %}
                                  <div class="col-3 ">
                                      <form action="{% url 'change' user_obj.pk %}" method="POST">
                                          {% csrf_token %}

                                          {% bootstrap_button button_type="submit" content='Редактировать профиль' %}
                                      </form>
                                  </div>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="col-2 text-center">
                      <a href="{% url 'resume_create' user_obj.pk %}">
                          <button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Создать резюме</button></a>
                  </div>
                  <div class="col-2 text-center">
                      <a href="{% url 'responses' user_obj.pk %}">
                          <button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Посмотреть отклики на мои резюме</button></a>
                  </div>
                  <div class="col-2 text-center">
                      <a href="{% url 'to_vacancies_responses' user_obj.pk %}">
                          <button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Посмотреть мои отклики на вакансии</button></a>
                  </div>
                 <hr>
                {% endif %}
                <div class="row justify-content-between">
                
                
                
                
                
                {% for vacancy in vacancies %}
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ vacancy.title }}</h5>
                                <p class="card-text">{{ vacancy.salary_level }}</p>
                                <p class="card-text">{{ vacancy.created_at }}</p>
                                <form action="{% url 'vacancy_date_update' vacancy.pk %}" method="POST">
                                    {% csrf_token %}
                                    <div id="container">
                                        <button type="submit" class="btn btn-primary">Обновить</button>
                                    </div>
                                </form>
                                <form action="{% url 'vacancy_public' vacancy.pk %}" method="POST">
                                    {% csrf_token %}
                                    <div id="container">
                                        {% if vacancy.is_public %}
                                        <button type="submit" class="btn btn-primary">Не публиковать</button>
                                        {% else%}
                                        <button type="submit" class="btn btn-primary">Oпубликовать</button>
                                        {% endif%}
                                    </div>
                                </form>
                                <a href="{% url 'vacancy_edit' vacancy.pk %}"><button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Редактировать</button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for resume in resumes %}
                        <div class="col-sm-6" style="margin-top: 20px; margin-bottom: 40px">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ resume.profession }}</h5>
                                    <p class="card-text">{{ resume.job_title }}</p>
                                    <p class="card-text">{{ resume.changed_at }}</p>

                                    <div class="row">
                                        <div class="col-4">
                                            <form action="{% url 'resume_date_update' resume.pk %}" method="POST">
                                                {% csrf_token %}
                                                <div id="container">
                                                    <button type="submit" class="btn btn-primary">Обновить</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-4">
                                            <form action="{% url 'resume_public' resume.pk %}" method="POST">
                                                {% csrf_token %}
                                                <div id="container">
                                                    {% if resume.is_public %}
                                                    <button type="submit" id="public" class="btn btn-primary">Не публиковать</button>
                                                    {% else%}
                                                    <button type="submit" id="publicP" class="btn btn-primary">Опубликовать</button>
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                        <a href="{% url 'resume_edit' resume.pk %}"><button type="submit" class="btn btn-secondary btn-block" style="margin-top: 20px;">Редактировать</button></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                <hr>


              </div>





<script type="text/javascript" src="{% static 'js/user-detail-switch_button.js' %}"></script>

{% endblock %}
