{% extends 'base.html' %}
{% block content %}
{% if user_obj.user_category == 'employer' %}
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            {% if request.user == user_obj %}
            <a class="tag tag--pill tag--main settings__btn" href="{% url 'change' user_obj.pk %}"><i class="im im-edit"></i>
              Редактировать профиль</a>
            {% endif %}
            <img class="avatar avatar--xl dev__avatar" src="{{ user_obj.avatar.url }}"/>
            <h2 class="dev__name">Company: {{ user_obj.username }}</h2>
            <p class="dev__title">Email: {{ user_obj.email }}</p>
            <p class="dev__location">Phone: {{ user_obj.phone }}</p>
            <ul class="dev__social">
              {% if user_obj.github %}
              <li>
                <a title="GitHub" href="{{ user_obj.github }}" target="_blank"><i class="im im-github"></i></a>
              </li>
              {% endif %}
              {% if user_obj.twitter %}
              <li>
                <a title="Twitter" href="{{ user_obj.twitter }}" target="_blank"><i class="im im-twitter"></i></a>
              </li>
              {% endif %}
              {% if user_obj.linkedin %}
              <li>
                <a title="LinkedIn" href="{{ user_obj.linkedin }}" target="_blank"><i
                    class="im im-linkedin"></i></a>
              </li>
              {% endif %}
              {% if user_obj.website %}
              <li>
                <a title="Личный сайт" href="{{ user_obj.website }}" target="_blank"><i
                    class="im im-globe"></i></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    {% if user_obj == request.user %}
      <div class="column column--2of3">
        <div class="settings">
          <h3 class="settings__title">Отклики</h3>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'responses' user_obj.pk %}"><i
              class="im im-plus"></i>Посмотреть отклик на резюме</a>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'to_vacancies_responses' user_obj.pk %}"><i
              class="im im-plus"></i>Посмотреть отклик на вакансию</a>
        </div>
      {% endif %}

        <table class="settings__table">
          {% for skill in skills %}
          <tr>
            <td class="settings__tableInfo">
              <h4>{{skill.name}}</h4>
              <p>
                {{skill.description}}
              </p>
            </td>
            <td class="settings__tableActions">
              <a class="tag tag--pill tag--main settings__btn" href="#"><i
                  class="im im-edit"></i> Изменить</a>
              <a class="tag tag--pill tag--main settings__btn" href="#"><i
                  class="im im-x-mark-circle-o"></i>
                Удалить</a>
            </td>
          </tr>
          {% endfor %}
        </table>

        {% if user_obj == request.user %}
        <div class="settings">
          <h3 class="settings__title">Вакансии</h3>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create_vacancy' user_obj.pk %}"><i
              class="im im-plus"></i> Добавить вакансию</a>
        </div>
        {% endif %}

        <table class="settings__table">
          {% for vacancy in vacancies %}
          <tr>
            <td class="settings__thumbnail">
              <a href="{% url 'vacancy_detail' vacancy.pk %}">Вакансия № {{ forloop.counter }}</a>
            </td>
            <td class="settings__tableInfo">
              <a href="{% url 'vacancy_detail' vacancy.pk %}">{{vacancy.title}}</a>
              <p>{{vacancy.salary_level|slice:"150"}}</p>
              <p>{{vacancy.changed_at}}</p>
            </td>
           {% if user_obj == request.user %}
            <td class="settings__tableActions">
              <form action="{% url 'vacancy_public' vacancy.pk %}" method="POST">
                {% csrf_token %}
                {% if vacancy.is_public %}
                  <button type="submit" class="tag tag--pill tag--main settings__btn">Не_публиковать</button>
                {% else%}
                  <button type="submit" class="tag tag--pill tag--main settings__btn">Oпубликовать</button>
                {% endif%}
              </form>
              <form action="{% url 'vacancy_date_update' vacancy.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="tag tag--pill tag--main settings__btn">Обновить</button>
              </form>
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'vacancy_edit' vacancy.pk %}"><i
                  class="im im-edit"></i> Редактировать</a>
              <a class="tag tag--pill tag--main settings__btn"
                href="{% url 'vacancy_delete' vacancy.pk %}"><i class="im im-x-mark-circle-o"></i>
                Удалить</a>
            </td>
          {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</main>
{% elif user_obj.user_category == 'applicant' %}
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            {% if request.user == user_obj %}
            <a class="tag tag--pill tag--main settings__btn" href="{% url 'change' user_obj.pk %}"><i class="im im-edit"></i>
              Редактировать профиль</a>
            {% endif %}
            <img class="avatar avatar--xl dev__avatar" src="{{ user_obj.avatar.url }}"/>
            <h2 class="dev__name">Name: {{ user_obj.username }}</h2>
            <p class="dev__title">Email: {{ user_obj.email }}</p>
            <p class="dev__location">Phone: {{ user_obj.phone }}</p>
            <ul class="dev__social">
              {% if user_obj.github %}
              <li>
                <a title="GitHub" href="{{ user_obj.github }}" target="_blank"><i class="im im-github"></i></a>
              </li>
              {% endif %}
              {% if user_obj.twitter %}
              <li>
                <a title="Twitter" href="{{ user_obj.twitter }}" target="_blank"><i class="im im-twitter"></i></a>
              </li>
              {% endif %}
              {% if user_obj.linkedin %}
              <li>
                <a title="LinkedIn" href="{{ user_obj.linkedin }}" target="_blank"><i
                    class="im im-linkedin"></i></a>
              </li>
              {% endif %}
              {% if user_obj.website %}
              <li>
                <a title="Личный сайт" href="{{ user_obj.website }}" target="_blank"><i
                    class="im im-globe"></i></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% if user_obj == request.user %}
      <div class="column column--2of3">
        <div class="settings">
          <h3 class="settings__title">Отклики</h3>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'responses' user_obj.pk %}"><i
              class="im im-plus"></i>Посмотреть отклик на резюме</a>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'to_vacancies_responses' user_obj.pk %}"><i
              class="im im-plus"></i>Посмотреть отклик на вакансию</a>
        </div>
      {% endif %}

        <table class="settings__table">
          {% for skill in skills %}
          <tr>
            <td class="settings__tableInfo">
              <h4>{{skill.name}}</h4>
              <p>
                {{skill.description}}
              </p>
            </td>
          {% if user_obj == request.user %}
            <td class="settings__tableActions">
              <a class="tag tag--pill tag--main settings__btn" href="#"><i
                  class="im im-edit"></i> Изменить</a>
              <a class="tag tag--pill tag--main settings__btn" href="#"><i
                  class="im im-x-mark-circle-o"></i>
                Удалить</a>
            </td>
          {% endif %}
          </tr>
          {% endfor %}
        </table>
        {% if user_obj == request.user %}
        <div class="settings">
          <h3 class="settings__title">Резюме</h3>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'resume_create' user_obj.pk %}"><i
              class="im im-plus"></i> Добавить резюме</a>
        </div>
        {% endif %}

        <table class="settings__table">
          {% for resume in resumes %}
          <tr>
            <td class="settings__thumbnail">
              <a href="{% url 'resume_detail' resume.pk %}">Резюме № {{ forloop.counter }}</a>
            </td>
            <td class="settings__tableInfo">
              <a href="{% url 'resume_detail' resume.pk %}">{{resume.profession }}</a>
              <p>{{resume.job_title|slice:"150"}}</p>
              <p>{{resume.changed_at}}</p>
            </td>
          {% if user_obj == request.user %}
            <td class="settings__tableActions">
              <form action="{% url 'resume_public' resume.pk %}" method="POST">
                {% csrf_token %}
                {% if resume.is_public %}
                  <button type="submit" class="tag tag--pill tag--main settings__btn">Не_публиковать</button>
                {% else%}
                  <button type="submit" class="tag tag--pill tag--main settings__btn">Oпубликовать</button>
                {% endif%}
              </form>
              <form action="{% url 'resume_date_update' resume.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="tag tag--pill tag--main settings__btn">Обновить</button>
              </form>
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'resume_edit' resume.pk %}"><i
                  class="im im-edit"></i> Редактировать</a>
              <a class="tag tag--pill tag--main settings__btn"
                href="{% url 'resume_delete' resume.pk %}"><i class="im im-x-mark-circle-o"></i>
                Удалить</a>
            </td>
          {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  </div>
</main>
{% endif %}
{% endblock %}
