{% extends 'base.html' %}
{% load static%}
{% load django_bootstrap5 %}
{% block content %}
{{block.super}}

{% if request.user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-7 text-center search-form">
            {% include 'partials/search.html' %}
        </div>
        <div class="col-2 ">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Категории
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                {% for profession in professions %}
                    <li><a class="dropdown-item" href="{% url 'list_by_resume_category' profession.profession_name %}">{{ profession.profession_name }}</a></li>
                {% endfor %}
              </ul>
           </div>
        </div>
    </div>





    {% if request.user.user_category == 'employer' %}
        <h2 style="margin: 50px; text-align: center">Список резюме</h2>
        {% if resumes.count == 0 %}
            <p>Резюме не опубликованы</p>
        {% endif %}
        {% for resume in resumes %}
            <div class="card" style="margin: 20px">
                <h5 class="card-header">{{ resume.job_title }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{ resume.salary_level }}</h5>
                        <p class="card-text">{{ resume.changed_at }}</p>
                    <a href="{% url 'resume_detail' resume.pk %}" class="btn btn-primary">Подробности</a>
                    <a href="#">{{ resume.author }}</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% else %}
<p>You must be authenticated</p>
{% endif %}
    <div class="row justify-content-center">
        <div class="col-5">
            {% if is_paginated %}
                {% include 'partials/pagination.html' %}
            {% endif %}
        </div>
    </div>

{% endblock %}