{% load static %}
<header class="header">
    <div class="container container--narrow">
        <a class="navbar-brand" href="{% url 'index' %}"><img id="panelpic" src="{% static 'images/hh-logo.png' %}" alt="instagram logo on nav-bar " style="width:53px; height:30px;margin-top:5px;margin-left:26px;border-right:1px solid;padding-right: 23px; "></a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Меню</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                <li class="header__menuItem"><a href="#">Вакансии</a></li>
                <li class="header__menuItem"><a href="#">Резюме</a></li>



                {% if request.user.is_authenticated %}
                <li class="header__menuItem"><a href="#">Сообщения</a></li>
                <li class="header__menuItem"><a href="{% url 'profile' user.pk %}"><img style="width: 30px; height: 30px; border-radius: 20px" src="{{request.user.avatar.url}}">Мой аккаунт</a></li>
                <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Выйти</a></li>
                {% else %}
                <li class="header__menuItem"><a href="{% url 'register' %}" class="btn btn--sub">Зарегистрироваться</a></li>
                <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>