{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
    <h2 style="text-align: center; margin: 50px">Список откликов на вакансии</h2>
    <div class="row justify-content-center">
        {% for vacancy in vacancies %}
                {% if vacancy.vacancy_responses.all.count > 0 %}
                    {% for response in vacancy.vacancy_responses.all %}
                        {% if response.author == request.user or response.vacancy.author == request.user %}
                            <div class="col-5">
                                <div class="card" style="width: 40rem; margin-top: 20px;">
                                    <img  src="{{ response.vacancy.author.avatar.url }}" style="height: 40px; width: 40px; margin: 15px" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Вакансия: <a href="{% url 'profile' response.author.pk %}">{{ response.vacancy.title }}</a></h5>
                                                    <span>Отклик на:</span>
                                                    <img src="{{ response.vacancy.author.avatar.url }}" style="height: 30px; width: 30px" alt="signuplogo ">
                                                    <a href="{% url 'profile' response.author.pk %}"><strong> {{ response.vacancy.author.username }} </strong></a>
                                                    <div>
                                                        <span>Резюме:</span><a href="{% url 'resume_detail' response.resume.pk %}"><strong> {{ response.resume.job_title }} </strong></a>
                                                    </div>

                                                    <div>
                                                        {% if request.user.user_category == 'applicant' %}
                                                            <p style="margin-top: 25px">Чат с представителем компании:</p>
                                                        {% elif request.user.user_category == 'employer' %}
                                                            <p style="margin-top: 25px">Чат с соискателем:</p>
                                                        {% else %}
                                                            <p style="margin-top: 25px">Чат:</p>
                                                        {% endif %}
                                                    </div>


                                                        <hr>
                                                        <div>
                                                            <p><img src="{{ response.author.avatar.url }}" style="height: 30px; width: 30px" alt="signuplogo "> <strong>{{ response.created_at }} </strong>{{ response.hello_message }}</p>
                                                        </div>
                                                    {% for chat in response.vacancy_chats.all %}
                                                            <p><img src="{{ chat.author.avatar.url }}" style="height: 25px; width: 25px" alt="signuplogo "><strong>{{ chat.created_at }} </strong></p><p>{{ chat.message }}</p></p>
                                                    {% endfor %}

                                                    <div class='commentsection'>
                                                        <form class="comment" action="{% url 'add_vacancy_chat_message' response.pk %}" method="POST">
                                                            {% csrf_token %}
                                                            {% bootstrap_form vacancy_chat_form %}
                                                            {% bootstrap_button button_type="submit" content='Ответить' %}
                                                        </form>
                                                    </div>
                                        </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

        {% endfor %}
    </div>
{% endblock %}